body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(32, 32, 32); 
    color: #cec6c6; 
}
h1 {
    font-family:'Times New Roman', Times, serif;
    text-align: center;
}
header {
    background: linear-gradient(to right, #000000, rgb(153, 2, 25)); 
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

main {
    padding: 20px;
}

footer {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
}

.product-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.product-description {
    color: #666;
    margin-bottom: 10px;
}

.product-price {
    font-weight: bold;
    color: #2ecc71;
}

.product-button {
    background-color: rgb(10, 107, 136); 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-button:hover {
    background-color: #3bc7ff; 
}
